/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  background-color: #ebebeb;
}

.page-header {
  text-transform: uppercase;
}

.party-D .member-name {
  /*background-image: linear-gradient(90deg, #83eaf1, #63a4ff); */
  color: blue;
}

.party-R .member-name {
  /*background-image: linear-gradient(90deg, #f86d79, #ffffff);*/
  color: red;
}

.party-I .member-name,
.party-ID .member-name {
  /*background-image: linear-gradient(90deg, #eff86d, #ffffff);*/
  color: green;
}

.vertical-line-party-D {
  background-color: blue;
}

.vertical-line-party-R {
  background-color: red;
}

.vertical-line-party-I,
.vertical-line-party-ID {
  background-color: green;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 3rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

.col-home {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.col-home p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.bd-placeholder-image1 {
  flex-direction: row;
  align-self: center;
}



/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
.side1 {
  margin-left: 5px;
}
.side2 {
  margin-right: 5px;
}

.nav-tabs {
  border-bottom: none!important;
}

.nav-tabs .nav-link {
  border: none!important;
  color: #ffffff;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background-color: transparent!important;
  color: #ffffff;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 40em) {
  .row1 {
   flex-wrap: wrap; 
  }
  .carousel-item {
    flex-direction: row;
    justify-items: center;
  }
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
